@import "../../GlobalStyles.scss";

.button{
  display: block;
  width: 130px;
  height: 39px;
  margin: 0 auto;
  color: white;
  border: none;
  border-radius: 7pt;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  background-color: $primary-color;
  &__secondary{
    @extend .button;
    background-color: #939393;
  }
  &:disabled{
    cursor: not-allowed;
  }
}