@import "../../GlobalStyles.scss";

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59px;
  background-color: $primary-color ;
  &__logo{
    margin: 0px;
    width: 70%;
  }
  &__closeIcon{
    color: white;
    margin-left: 15px;
    font-size: 32px;
  }
}