body{
  margin: 0;
  background-color: #EAEAEA;
}

.header{
  height: 80px;
  background-color: #dd141d ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  figure{
    margin: 0px;
  }

  &__logo{
    width: 100%;
  }
  
  &__closeIcon{
    color: white;
    font-size: 2em;
  }
}