.insuranceCard{
  position: relative;
  margin: 5px 0px 22px;
  &__title{
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.4fr;
    align-items: center;
    border-radius: 10pt;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    padding: 14px 10px;
    height: 42px;
    background-color: white;
  }
  &__subtitle{
    font-size: 12px;
    font-weight:500;
  }
  &__price{
    font-size: 14px;
  }
  input{
    justify-self: center;
  }
  span{
    display: block;
  }
  &__button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    top: 58px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #F9F9F9;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    padding: 4px;
    border-radius: 12pt;
    font-size: 12px;
    z-index: 2;
  }
  &__details{
    border-radius: 12pt;
    padding: 20px 12px 10px;
    background-color: white;
  }
  ul{
    margin: 0;
    padding-left: 22px;
    list-style-image: url(/src/assets/bulletPoint.png);
  }
  li{
    font-size: 12px;
    margin-bottom: 5px;
  }

}