@import '../../GlobalStyles.scss';

.insuranceList{
  margin: 0 10px 15px;
  padding:15px 15px 5px;
  font-size: 14px;
  background-color: $light-background-color;
  @include cardStyles;
  p{
    margin: 0;
    font-weight: bold;
    color: $dark-text-color;
  }
  &__type{
    margin: 5px 0 16px;
    label{
      margin-right: 42px;
    }
  }
}