.insuranceList{
  padding:15px 15px 5px;
  margin: 0 10px 15px;
  border-radius: 10pt;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  background-color: #F8F8F8;
  font-size: 14px;
  p{
    color: #575757;
    margin: 0;
    font-weight: bold;
  }
  &__type{
    margin: 5px 0 16px;
    label{
      margin-right: 42px;
    }
  }
}