.requestForm{
  display: grid;
  background-color: #F8F8F8;
  padding: 15px;
  margin: 10px;
  border-radius: 10pt;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  &__card__header{
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    color: #575757;
  }
}