$primary-color: #dd141d;
$dark-text-color: #575757;
$light-background-color: #F8F8F8;

@mixin cardStyles {
  border-radius: 10pt;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
}

body{
  margin: 0;
  /* background-color: #EAEAEA; */
  font-family: 'Roboto', sans-serif;
  max-width: 375px;
}

.app{
  background-color: white;
}

a{
  text-decoration: none;
}